html {
	height:100%;
}


	
body {
	background-color:#121212; /* 1c1c1c */
	height:100%;
	margin:0;
	background-repeat: no-repeat;
	background-attachment:fixed;
	/* #0C090A */
}
		
div.linkContainer { /* Contains everything including buttons */
	width: 100%;
	margin-left:auto;
	margin-right:auto;
	background-color: none;
	text-align:center;
}

div.buttonBox { /* Container for the buttons */
	width:30em;;
	display:inline-block;
	vertical-align:top;
	background-color:none;
}

div.divider { /* Sometimes used */
	content: "";
	height:1px;
	width:50px;
	background-color:#201D1E;
	color:white;
	text-align:center;
	font-family:Open Sans; 
}

div#topSpacer { 
	padding-top:17em;
}

div.heading { /* Titles above icons */
	font-family:Open Sans;
	color: rgba(255,255,255,0.2);
	font-size: 10px;
	padding-bottom: 5px;
	padding-top: 5px;
}


/*-- BUTTON --*/

button.link { /* Link part of the button, surrounding image icon */
	background-color:#1c1c1c; /* 2d2d2d */
	color:white; 
	font-family:Roboto Mono; 
	font-size: 11px;
	width:30px;
	height:30px;
	margin-top:4px;
	text-align:center;
	border:none;
	border-radius:2px;
	cursor:pointer;
	transition: 0.5s;
	outline:none;
}

button.link:hover { /* Colour change when hovering over button */
	background-color:#576984;
	transition: 0.3s;

}

button.link:active { /* Default active button colours */
	background-color:#158fd6;
	transition:0.1s;
}
/* Individual button highlights

button.link#activeRed:active {
	background-color:#cd201f;
	transition: 0.1s;
}

button.link#activeBlue:active {
	background-color:#004bbc;
	transition: 0.1s;
}

*/

/* SEARCH BOX */

		
.searchContainer { /* Div containing the text box */
    width: 100px;
    height: 35px;
    margin: 10px auto 20px auto;
    padding: 0px 20px;
    background-color: none; /* #1c1c1c; */
    border: solid 0px #272727;
    opacity: 1;
    border-radius: 5px;
	padding-top: 100px;
	padding-bottom: 0px;
}

#searchBoxInput { /* Text input box itself */
    width: 100px;
    height: 35px;
    /* padding: 0px 10px 0px 0px; */
    background-color: transparent;
    font-family: "Roboto Mono";
    font-size: 10px;
    color: #f2f2f2;
    float: left;
    outline: none;
	border-bottom: solid 2px transparent;
	border-top: none;
	border-left: none;
	border-right: none;
	transition: border .3s;
	text-align: center;

}


#searchBoxInput:focus { /* Underline animation on focus */
	/*content:"";
	background-color:none;
	border-bottom: solid 2px #232323;
	border-top: none;
	border-left: none;
	border-right: none;
	*/
}

#searchBoxInput:focus::-webkit-input-placeholder {
	color:transparent;
}

a { /* Hyperlink styles */
	color:white;
	text-decoration: none;
	position: relative;
	display: block; 	
	padding: 0px;
}

a:visited { /* Keeping the hyperlinks from turning a new colour when already visited */
	color:white;
}
		
		
/*-- UNDERLINE ANIMATION --*/
/*
a.underline:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 0;
	left: 0;
	background-color: grey;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.1s ease-in-out 0s;
}

a.underline:hover:before {
	visibility: visible;
	transform: scaleX(1);
}
*/			

/* TABLE */

div.tableContainer { /* Div containing the whole table */
	padding-top:40px;
	background-color:none;
}

#commandTable { /* Table itself */
	color:white;
	text-align:left;
	background-color:none;
	margin-left:auto;
	margin-right:auto;
	font-family:Roboto Mono;
	font-size:12px;
}

td.cmd { /* Custom for 'command' cells */
	padding-right:20px;
}

td.space { /* Custom format for space cells */
	padding-left:20px;
	padding-right:20px;
}


